@font-face {
    font-family: MurmanskFWF; /* Гарнитура шрифта */
    src: url(../fonts/murmanskfwf.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyRiad Pro; /* Гарнитура шрифта */
    src: url(../fonts/myriadpro.otf); /* Путь к файлу со шрифтом */
}
body{
	font-family: MurmanskFWF;
	font-size: 14px;
}
section{
	padding: 2.5em 5%;
}

.wide-container{
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
}

a{
	color: #5ea8d4;
	font-size: 14px;
}
a:hover, a:focus{
	color: #2489c5;
	text-decoration: none;
}
.breadcrumbs, .breadcrumbs a, .categories, .categories a{
	color: #5ea8d4;
	font-size: 24px;
}
.breadcrumbs i{
	color: #4e606b;
	font-size: 19px;
}
.breadcrumbs a:hover, .breadcrumbs .active a, .categories a:hover, .categories .active a{
	color: #2489c5;
}
.categories > li{
	display: inline-block;
	list-style: none;
	text-align: center;
}
.categories > li:not(:last-child){
	border-right: 3px solid #5ea8d4;
	padding-right: 7px;
}

/*** header  ***/
header{
	min-height: 110px;
	height: auto;
	padding: 13px 5%;
}
.logo{
	display: block;
	float: left;
	position: relative;
}
.logo:hover, .logo:focus{
	text-decoration: none;
}
.logo img{
	height: 63px;
	width: auto;
}
nav.menu ul{
	float: right;
	width: 310px;
	display: block;
	height: auto;
	padding:0;
	background-color: #2489c5;
	background-image: -moz-linear-gradient( 90deg, rgba(36,137,197,0) 0%, rgb(36,137,197) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(36,137,197,0) 0%, rgb(36,137,197) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(36,137,197,0) 0%, rgb(36,137,197) 100%);
	box-shadow: 0px 4px 0px 0px rgba(0, 110, 166, 0.004),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.5);
    z-index: 21;
}

nav.menu li{
	display: inline-block;  	
  	font-size: 18px;
  	font-family: Myriad Pro;
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: center;
	line-height: 3.5em;
	list-style: none;
	background-color: transparent;
	width: 49%;
	text-transform: uppercase;
}
nav.menu li:hover, nav.menu li:focus{
	text-shadow: 0 2px 10px #000;
}
nav.menu li:not(:last-child){
	border-right: 1px solid #fff;
}
nav.menu li > a{
	color: #fff;
	display: block;
	margin: 0 auto;
}
.main-img{
	height: 650px;
	background-image:  url(../img/main-background.png);
	background-size: cover;
	padding: 60px 5%;
}
.main {
	position: relative;
	height: 550px;	
	background-color: #fff;
  	border: 1px solid #b7ccd7;
  	box-shadow: 0px 10px 31.5px 3.5px rgba(0, 1, 3, 0.35);
}
.main > img{
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}
.main .left{
	background-color: rgb(255, 255, 255);
	height: 100%;
	max-width: 700px;
	padding: 65px;
}
.main .left img{
	max-width: 400px;
	width: 100%;
	margin: 0 auto; 
	margin-bottom: 2em;
}
.main p{
	font-size: 2em;
	font-family: MurmanskFWF;
	color: #2489c5;
	line-height: 1.2;
	text-align: left;	
	text-transform: uppercase;
}
.download{
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
	display: block;
	background: url(../img/button.png) no-repeat center transparent;
	background-size: 100% auto;
	max-width: 370px;
	height: 103px;
	margin: 0 auto;
	width: 90%;
}

/*** end of header ***/

/*** footer  ***/

.footer-top{
	background: url(../img/footer-img1.png) no-repeat center;
	background-size: 100% auto;
	min-height: 320px;
	padding: 45px 5%;
}
.footer-content{
	min-height: 260px;
	background-color: rgba(255,255,255,.5);
	padding: 50px 100px;
}
.footer-content span{
	font-family: MurmanskFWF;
	color: #3782ac;
	font-size: 18px;
}
.footer-content ul{
	padding: 5px;
}
.footer-content li{
	list-style: none;
}
.footer-content li:before{
	content: '- ';
}
.footer-content li > a{
	color: #434f55;
	font-family: MurmanskFWF;
	font-size: 18px;
}
.footer-content li > a:hover, .footer-content li > a:focus{
	color: #749db5;
	text-decoration: none;
}
.footer-bot{
	height: 230px;
	background:  url(../img/bottom-footer.png) no-repeat top #4c5b6e;
	background-size: 100% auto;
}
@media(max-width: 991px){
	.text-center-sm{
		text-align: center;
	}
	.logo{
		margin-bottom: 20px;
	}
}

@media(max-width: 850px){
	nav.menu ul{
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 768px){
	.footer-top{
		background-size: auto 100%;
	}
	.logo{
		text-align: center;
	}
}
/*** end of footer ***/

/*** blog/mini-blog ***/

.mini-blog, .info{
	padding-bottom: 40px;
	background-color: #f2f0f0;
}
.mini-blog-block, .info-block{
  background-color: #fff;
  border-bottom: 1px solid #555;
  box-shadow: 0 6px 15px #666;
  padding: 0 0 17px 0;
}
.mini-blog-block{
	margin-bottom: 35px;
}
.mini-blog-header{
	background-color: #2489c5;
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	padding-left: 15px; 
}
.mini-blog-body{
	padding: 17px 2px 17px 17px;
	margin: 0;
}
.mini-blog-img{
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	height: 190px;
}
.mini-blog-img img{
	position: absolute;
	height: auto;
	min-width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.mini-blog-content{
	text-align: left;
	font-size: 14px;
}
.mini-blog-content .ref{
	text-align: right;
}
@media(max-width: 768px){
	.mini-blog-img img{
		min-width: auto;
		height: 100%;
		width: auto;
	}
}

/*** end of blog/mini-blog ***/

/** modal **/
.modal-win-advertisment{
	margin: 5% auto;
	max-width: 571px;
	min-height: 463px;
	width: 90%;
	background-color: transparent;
  	padding: 0;
}

.modal-win-advertisment .modal-header{
	border: none;
	font-size: 18px;
	color: #2489c5;
	line-height: 1.2;
	text-align: left;	
	padding: 25px 25px 0;
}
.modal-win-advertisment .modal-header img{
	margin-top: -4em;
}
.modal-win-advertisment .modal-header p{
	display: inline-block;
	padding-left: 20px;
}
.modal-win-advertisment .modal-header .title{
	font-size: 36px;
  	color: rgb(0, 110, 166);
  	line-height: 1.2;
  	font-weight: 500;
}
.modal-win-advertisment .modal-content{
	position: relative;
	border-radius: 10px;
   	box-shadow: none;
   	background-color: #fff;
   	overflow: hidden;
   	box-shadow: 0px 10px 31.5px 3.5px rgba(0, 1, 3, 0.35);
}
.modal-win-advertisment .modal-body{
	padding: 0px 17px 17px;
}

.modal-win-advertisment .post-block{
	min-height: 120px;
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(36, 137, 197);
  	background: #fff;
  	box-shadow: 0px 5px 0px 0px rgba(4, 5, 5, 0.16);
}
.modal-win-advertisment .post-block .label{
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -41%;
    right: 0;
    background: url(../img/modal-label.png) no-repeat center transparent;
    z-index: 1;
}
.modal-win-advertisment .post-block:not(:last-child){
	margin-bottom: 20px;
}
.modal-win-advertisment .post-block .data{
	color: rgb(36, 137, 197);
}

.modal-win-advertisment .post-content{
	padding: 0 1em;
	background: none;
	height: 80px;
	padding: 15px 0;
}
.modal-win-advertisment .post-img{
	position: relative;
    overflow: hidden;
    height: 120px;
    background-image: none;
}

.modal-win-advertisment .post-img img {
	width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.modal-win-advertisment .post-content > ul{
	display: block;
}
.modal-win-advertisment .post-content > ul > li{
	display: block;
	text-transform: none;
	color: rgba(0,0,0,.9);
	text-align: left;
    font-size: 1em;
}
.modal-win-advertisment .post-content > ul > li > p{
	margin: 0;
}
.modal-win-advertisment .post-order{
	height: 120px;
	background: #2489c5;
}
.modal-win-advertisment .post-order p{
	font-size: 1.5em;
}

.modal-win-advertisment button.close{
	position: absolute;
	right: 20px;
	top: 20px;

}
.modal-win-advertisment .modal-footer{
	background-color: #a1c1ed;
	color: #094263;
	font-size: 18px;
	text-align: center;
}
@media (max-width: 768px){
	.modal-win-advertisment .post-content > ul > li{
		display: inline-block;
	}
	.modal-win-advertisment .post-img img{
		height: 100%;
		width: auto;
	}
	.modal-win-advertisment .post-block .label{
		top: -24%;
	}
	.modal-win-advertisment .modal-header p{
		width: 70%;
	}
}
/**  float  **/
.float, .float:focus{
	display: block;
	position: fixed;
	right: .5em;
	top: 25%;
	border: 2px solid #2489c5;
	border-radius: 4px;
	z-index: 100;
	font-size: 3em;
	padding: 2px;
	color: #2489c5;
}
.float:hover{
	background-color: #2489c5;
	color: #fff;
}