/*** filters  ***/
.filters{
	min-height: 135px;
	background-color: #f2f0f0;
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.filters a{
	text-shadow: none;
}
.filter-block{
	position: relative;
	float: left;
	padding: 15px;	
	width: 20%;
}

.filter-block label{
	color: #718a39;
	font-family: MyRiadPro;
	font-size: 1.2em;
}
.styled-select {  
   background: url(../img/caret.png) no-repeat right white;
   border: 1px solid #c2c1c1;
   border-radius: 1px;
   padding: 4px 10px;   
   width: 100%;
   height: 30px;
   box-shadow: none;
   text-align: left;
}
.dropdown-menu{
	left: auto;
	top: auto;
	width: calc(100% - 30px);
}
.styled-select:focus, .styled-select:active{
	border: 1px solid #2489c5;
	outline: none;
}
.btn-filter{
	border: none;
	background: none;
}
.btn-filter:hover, .btn-filter:focus, .btn-filter:active{
	color: #2489c5;
}

/*** end of filters ***/

/*** posts  ***/
.posts{
	background: url(../img/first-post.png) repeat-x left top #f2f0f0;
	background-size: auto 230px;
	min-height: 230px;
	height: auto;
	padding: 20px 5%;
}

.post-block{
	min-height: 140px;
	height: auto;
	width: 100%;
	position: relative;
	box-shadow: 0px 5px 0px 0px rgba(4, 5, 5, 0.16);
	margin-left: 0;
	margin-right: 0;
	margin-top: 25px;
	background-color: #fff;
	
}

.post-block:not(:last-child){
	margin-bottom: 70px;
}
.post-block.new:before{
	position: absolute;
	top: -43%;
    right: 9%;
	content: '';
	background: url(../img/new-label.png) no-repeat left transparent;	
	width: 176px;
	height: 176px;
	background-size: 90% auto;
	z-index: 1;
}
.post-block.top:before{
	position: absolute;
	top: -43%;
    right: 9%;
	content: '';
	background: url(../img/top-label.png) no-repeat left transparent;	
	width: 176px;
	height: 176px;
	background-size: 90% auto;
	z-index: 1;
}
.post-block.sale:before{
	position: absolute;
	top: -43%;
    right: 9%;
	content: '';
	background: url(../img/sale-label.png) no-repeat left transparent;	
	width: 176px;
	height: 176px;
	background-size: 90% auto;
	z-index: 1;
}


.post-img{	
	height: 140px;
    padding: 2em 1em;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.post-img img{
	width: 80%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.post-content{
	height: 140px;
	padding: 1em 1.5em;
	background-image: -moz-linear-gradient( 90deg, rgba(56,147,201,.42) 0%, rgba(156,201,228,.42) 66%, rgba(255,255,255,.42) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(56,147,201,.42) 0%, rgba(156,201,228,.42) 66%, rgba(255,255,255,.42) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(56,147,201,.42) 0%, rgba(156,201,228,.42) 66%, rgba(255,255,255,.42) 100%);

}
.post-content > ul{
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0;

}
.post-content > ul > li{
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	color: #2489c5;
	text-align: center;
}
.post-content .attraction{
	font-size: 1.8em;
	text-transform: none;
	color: #2489c5;
	font-weight: 500;
	text-align: center;
}
.post-order{	
	background: url(../img/striped.png) no-repeat center transparent;
	background-size: 100% 100%;	
	font-family: Impact;
	padding-right: 0;
	padding-left: 0;
	height: 140px;	
}
.post-order > a{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}
.post-order > a:hover{
	background-color: rgba(0,0,0,.2);
}
.post-order p{	
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
	font-size: 1.5em;	
	text-decoration: none;
	text-shadow: 0px 8px 1px rgba(0, 2, 1, 0.35);
}

.info-block{
	padding: 50px 45px;
}
.info .title{
	color: #038ed8;
	font-size: 1em;
}

@media(max-width: 991px){
	.post-content{
		height: auto;
	}
	.post-block.new:before, .post-block.top:before, .post-block.sale:before{
		top: -14%;
	}
	.post-img img{
		height: 85%;
		width: auto;
	}
	.filter-block{
		width: 25%;
	}
	
}
@media(max-width: 681px){
	.first-post{
		background-size: auto 100%;
	}
	.filter-block{
		width: 33.3333%;
	}
}
@media(max-width: 551px){
	.post-block.new:before, .post-block.top:before, .post-block.sale:before{
		top: -12%;
	}
	.filter-block{
		width: 50%;
	}
}
/*** end of posts ***/

