.breadcrumbs, .breadcrumbs a, .categories, .categories a{
	margin-bottom: 30px;
}
.article{
	background-color: #f2f0f0;
}
.article-block{
	background-color: #fff;
	padding: 0;
}
.article-header{
	background-color: #2489c5;
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	padding-left: 15px; 
}
.article-body{
	padding: 30px 25px 120px;
	margin: 0;
}
.article-img-container{
	float: left;
	padding: 0 50px 25px 0;
	height: 325px;
	width: 500px;
}
.article-img{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.article-img img{
	position: absolute;
	width: 100%;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.posts, .mini-blog{
	background: #f2f0f0;
}