.company{
	background: #f2f0f0;
}
.to-companies{
	margin-bottom: 30px;
}
.filter-block{
	width: 330px;
	padding: 0;
	float: right;
}
.dropdown-menu{
	width: 100%;
}
.article-block{
	box-shadow: 0 5px 4px #555;
}
.article-block .rating{
	display: block;
	float: right;
	color: #fff;
	font-size: 1em;
	padding-right: 1em;
}
.article-img-container{
	width: 240px;
	height: 310px;
	padding: 0 20px 25px 0;
}
.article-img img{
	height: auto;
	width: 80%;
	
}

.article-content .title, .article-content .title{
	color: #5ea8d4;
	display: block;
}
.article-content.side{
	width: 100%;
	padding: 0 15px;
}
.article-content.side .title{
	font-size: 19px;
}
.article-content.bot .title{
	font-size: 24px;
	float: none;
}
.article-footer{
	background: url(../img/article-footer.png) no-repeat center transparent;
	background-size: 100% 100%;
	height: 95px;	
}
.article-footer a{
	display: block;
	position: relative;
	height: 100%;
}
.article-footer a:hover{
	background-color: rgba(0,0,0,.2);
}
.article-footer img, .sidebar .article-body li img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}


.sidebar{
	padding: 0;
}
.sidebar .article-body{
	padding: 30px 0;
}
.sidebar .article-body ul{
	padding: 0;
}
.sidebar .article-body li{
	list-style: none;	
	height: 120px; 	
	padding: 15px 0;
}
.sidebar .article-body li a{
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.sidebar .article-body li img{
	width: auto;
	height: 100%;
}
.sidebar .article-body li.active{
	background-color: rgba(36,137,197,.3);
}
@media (max-width: 991px){
	.filter-block{
		float: none;
		margin: 0 auto;
	}
	.sidebar{
		margin-top: 40px;
	}
	.sidebar .article-body li{
		width: 48%;
		float: left;
	}
}
@media (max-width: 768px){
	.article-img-container{
		width: 100%;
		padding: 0;
		text-align: center;
	}	
}

/*** comments ***/
.comments-area{
	margin-top: 2.5em;
}
.comments-title{
    font-size: 24px;
}
.comment-list{
	list-style: none;
	padding: 0;
}
.comment-list li{
	display: block;
	list-style: none;
	position: relative;
}
.comment-list li img{
	border-radius: 50%;
}
.comment-body{
	border-radius: 6px;
	border: 1px solid #666;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: 0 5px 4px #555;
}
.comment-body p{
	margin-top: 1em;
}

.reply{
	text-align: right;
}
.comment-author{
	font-size: 18px;
	font-weight: 500;
}
.comment-awaiting-moderation{
}
.comment-meta{
}
.comment-meta a{
	font-size: 13px;
}
.comment-respond{
	width: 50%;
}
.comment-respond input{
	border-radius: 5px;
	padding: 2px 7px;
	width: 100%;
}
.comment-respond input:focus{
	outline: none;
	border-color:  #5ea8d4;
}
.comment-respond .required{
	display: none;
}
.comment-respond label:after{
	content: '*';
	display: inline-block;
}
.comment-form-comment textarea, .comment-form-comment label{
	display: block;
}
.comment-form-comment textarea{
	resize: vertical;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
}
.comment-form-comment textarea:focus{
	outline: none;
	border: 1px solid #5ea8d4;
}
.comment-respond input[type="submit"]{
	border-radius: 5px;
	width: 200px;
}
.comment-respond input[type="submit"]:focus{
	outline: none;
	border: transparent;
}
@media(max-width: 991px){
	.comment-respond{
		width: 100%;
	}
}
@media(max-width: 561px){
	ol.children{
		padding-left: 10px;
	}
}